/* commom */
* {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style-type: none;
}

p {
    line-height: 1.5;
    font-size: 12px;
}

@media screen and (max-width: 980px) {
    #header .git {
        display: none;
    }
}

body {
    background-color: #e2e2e2;
}

/* index */
#header {
    position: relative;
    height: 80px;
    color: #fefefe;
    background-color: #004080;
}

.header-center {
    position: relative;
    width: 980px;
    height: 70px;
    margin: 0 auto;
}

.mlg {
    position: absolute;
    bottom: 0;
    left: 0;
}

.header-menu {
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 1.5;
}

.header-menu li {
    float: left;
    margin: 0 14px;
    font-size: 14px;
    font-family: simsun;
}

.header-menu a:link, .header-menu a:visited {
    color: #fefefe;
}

.header-menu a:hover, .header-menu a:active {
    color: #000;
}

.git {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 34px;
    right: 10px;
    bottom: 0px;
}

#nav {
    position: relative;
    width: 100%;
}

.nav-img {
    display: block;
    width: 100%;
    min-width: 980px;
}

.nav-wrap {
    position: absolute;
    width: 980px;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto; 
}

.nav-center {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40%;
    height: 25%;
    padding: 10px;
    color: #fefefe;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0) 100%,#FFFFFF 100%); /*FF3.6+*/
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.7)), color-stop(75%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0) 100%);/*  Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3ffffff', endColorstr='#00ffffff', GradientType=0); /* IE6-9 */
}

.nav-center h2 {
    text-align: right;
    margin-bottom: 10px;
}

.nav-center p {
    font-size: 14px;
    font-weight: 100;
    text-indent: 2em;
}

#main {
    width: 100%;
    height: 500px;
    background-color: #eee;
}

.main-wrap {
    position: relative;
    width: 980px;
    margin: 10px auto;
}

.main-content-1, .main-content-2, .main-content-3 {
    position: absolute;
    top: 0;
    width: 300px;
    min-height: 350px;
    padding: 10px;
    background-color: #fff;
}

.main-content-1 {
    left: 0;
}

.main-content-2 {
    left: 0;
    right: 0;
    margin: 0 auto;
}

.main-content-3 {
    right: 0;
}

.main-content-1 img, .main-content-2 img, .main-content-3 img {
    width: 300px;
    height: 180px;
}

.main-content-1 p,.main-content-2 p, .main-content-3 p {
    margin-top: 5px;
    text-indent: 2em;
}

#content {
    width: 100%;
    height: 500px;
    background-color: #fff;
}

.content-center {
    position: relative;
    width: 980px;
    margin: 0 auto;
}

.content-center img{
    /* relative */
    position: relative;
    display: block;
    bottom: 50px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 0 auto;
}

.content-center h2 {
    text-align: center;
    font-weight: 100;
}

.content-center p {
    text-indent: 2em;
    font-size: 15px;
    margin: 40px 170px;
}

#footer {
    position: relative;
    height: 500px;
    clear: both;
    background-color: #000;
    color: #eee;
}

.footer-header {
    width: 100%;
    height: 50px;
    text-align: center;
    border-top: 1px #b1bcb3 solid;
    border-bottom: 1px #b1bcb3 solid;
}

.footer-header li {
    width: 70px;
    line-height: 50px;
    display: inline-block;
}

.footer-content {
    width: 980px;
    margin: 0 auto;
    padding-top: 80px;
}

.footer-content ul {
    float: left;
    width: 20%;
    /* box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; */
}

.footer-content h3 {
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 30px;
}

.footer-content li {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-content a:hover, footer-content a:active {
    text-decoration: underline;
}

#footer p {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    text-align: center;
}

#footer img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
/* blog */
#wrap {
    background-color: #eee;
    padding-top: 20px;
    padding-bottom: 300px;
}

.wrap-center {
    position: relative;
    width: 980px;
    margin: 0 auto;
}

.wrap-content {
    position: relative;
    width: 670px;
    margin-bottom: 10px;
    padding: 20px 15px 60px 15px;
    background-color: #fff;
}

.wrap-content h2 {
    font-size: 16px;
    color: #a660b7;
    margin-bottom: 10px;
}

.wrap-content h3 {
    font-size: 12px;
    color: #666;
}

.p-text {
    text-indent: 2em;
    margin-top: 15px;
}

.p-date {
    position: absolute;
    right: 15px;
    bottom: 10px;
    color: #999;
}

.wrap-content ul {
    position: absolute;
    top: 20px;
    left: -50px;
}

.li-date, .li-type {
    width: 50px;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
}

.li-date {
    background-color: #522a5c;
}

.li-type {
    background-color: #a660b7;
}

.wrap-sidebar {
    float: right;
    width: 270px;
}

.wrap-search {
    background-color: #fff;
    width: 250px;
    height: 60px;
    padding-top: 20px;
    padding-left: 20px;
}

.search-text {
    padding-left: 45px;
    width: 140px;
    height: 38px;
    border: 1px solid #bebebe;
    background: url(../img/search.jpg) no-repeat left;
}

.search-button {
    width: 40px;
    height: 40px;
    margin-left: -4px;
    background-color: #bebebe;
    border: 1px solid #bebebe;
    color: #fff;
}

.wrap-column {
    margin-top: 10px;
    color: #000;
}

.wrap-column li {
    width: 270px;
    height: 45px;
    line-height: 45px;
    font-size: 13px;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.wrap-column a {
    display: block;
    color: #000;
    padding-left: 20px;
    background-color: #fff;
    border-left: 3px solid #dfc6e6;
}

.wrap-column a:hover, .wrap-column a:focus {    
    border-left: 3px solid #522a5c;
}

.catalog {
    width: 700px;
    padding-left: 70px;
}

.catalog ul {
    display: inline-block;
}

.turning, .catalog li {
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
    background-color: #fff;
}

.turning a, .catalog a {
    display: block;
    color: #000;
    text-align: center;
    min-width: 15px;
    padding: 10px;
}

.catalog ul a:focus {
    color: #fff;
    background-color: #a660b7;    
}

.wrap-calendar {
    padding: 20px;
    margin-top: 10px;
    line-height: 30px;
    color: #773c88;
    background-color: #fff;
}

.wrap-calendar-title {
    font-weight: 600;
    text-align: center;
}

.wrap-calendar-left {
    float: left;
}

.wrap-calendar-right {
    float: right;
}

.wrap-calendar th, .wrap-calendar td {
    width: 35px;
    /* height: 30px; */
    text-align: center;
}

.wrap-calendar a {
    display: block;
    color: #773c88;
}

.wrap-calendar a:focus,.wrap-calendar a:active {
    color: #fff;
    background-color: #773c88;
}

.wrap-tags {
    padding: 10px;
    color: #773c88;
    background-color: #fff;
    margin-top: 10px;
}

.wrap-tags h4 {
    color: #000;
    font-size: 14px;    
    font-weight: 100;
    margin-bottom: 20px;
}

.wrap-tags a:link, .wrap-tags a:visited {
    color: #773c88;
}

.wrap-tags-big {
    font-size: 30px;
}

.wrap-tags-median-size {
    font-size: 20px;
}

.wrap-tags-small {
    font-size: 12px;
}
/* gallery */
.sidebar-form {
    float: right;
    width: 260px;
    margin-bottom: 10px;
    background: #fff;
}

.search {
    position: relative;
    border: #e2e2e2 1px solid;
    margin: 20px;
    font-size: 0;
    height: 40px;
}

.search:hover {
    border: #47456D 1px solid;
}

.keyword {
    position: absolute;
    top: 0;
    width: 170px;
    height: 40px;
    border: none;
    outline: medium;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-size: 144px;
}

.keyword:focus {
    background-image: none;
}

.submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 40px;
    border: none;
    font-size: 18px;
    color: #fff;
    background: #e2e2e2;
}

.submit:hover {
    background: #47456D;
}

.post-type {
    font-size: 14px;
    color: #888;
    line-height: 50px;
    padding-left: 20px;
    border-width: 0 0 1px 5px;
    border-style: solid;
    border-color: #92C0EF;
}

.post-type:hover {
    border-left-color: #47456D;
    color: #000;
}

.calendar {
    margin: 20px;
    width: 220px;
    height: 220px;
    text-align: center;
    border-collapse: collapse;
    color: #888;
    font-size: 12px;
}

.calendar tr {
    border-bottom: 1px solid #92C0EF;
}

.calendar-dark {
    color: #47456D;
    font-weight: bold;
}

.calendar-now {
    color: #fff;
    background: #47456D;
}

.side-tag {
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 100px;
}

.tag-title {
    font-size: 12px;
    color: #888;
    margin-bottom: 20px;
}

.tag-item {
    color: #47456D;
    font-size: 12px;
}

.tag-more {
    font-size: 30px;
}

.tag-less {
    font-size: 20px;
}

.gallery-center {
    width: 980px;
    margin: 70px auto 0;
}

.gallery-content {
    width: 710px;
    float: left;
    background: #fff;
    margin-bottom: 100px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.gallery-item img {
    width: 160px;
}

.gallery-item li {
    width: 160px;
    font-size: 0;
    margin: 0 10px 10px 0;
}

.gallery-item-text {
    position: relative;
    padding: 10px 10px 10px 48px;
}

.tab-ab {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    color: #fff;
    float: left;
    margin-right: 10px;
}

.gallery-item-text h1 {
    font-size: 16px;
    color: #fff;
}

.gallery-item-text p {
    font-size: 12px;
    color: #fff;
}

.tab-javascript {
    background: #522a5c;
}

.tab-applications {
    background: #d9a300;
}

.tab-framework {
    background: #8c2300;
}

.tab-ui {
    background: #5900b2;
}

.gallery-item ul {
    float: left;
}

.gallery-tab {
    position: absolute;
    top: -51px;
    left: 0;
    font-size: 14px;
    text-align: center;
    line-height: 46px;
}

.gallery-tab-item {
    float: left;
    padding: 0 20px;
    margin: 0 1px 1px 0;
    background: #fff;
}

.gallery-tab-all {
    border-top: 4px solid #92c0ef;
}

.gallery-tab-all:hover {
    border-top: 4px solid #47456D;
}

.gallery-tab-js {
    border-top: 4px solid #dfc6e6;
}

.gallery-tab-js:hover {
    border-top: 4px solid #522a5c;
}

.gallery-tab-ui {
    border-top: 4px solid #d2a6ff;
}

.gallery-tab-ui:hover {
    border-top: 4px solid #5900b2;
}

.gallery-tab-framwork {
    border-top: 4px solid #ffa98c;
}

.gallery-tab-framwork:hover {
    border-top: 4px solid #8c2300;
}

.gallery-tab-app {
    border-top: 4px solid #ffe188;
}

.gallery-tab-app:hover {
    border-top: 4px solid #d9a300;
}

.gallery-more {
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 710px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    background: #fff;
}

.ranking-num {
    background: #47456D;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    text-align: center;
    line-height: 16px;
    display: inline-block;
}

.ranking-bar-wrap {
    position: relative;
    top: 6px;
    width: 100px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #47456D;
    display: inline-block;
}

.ranking-bar {
    height: 20px;
    background: #47456D;
}

/* about */
#about {
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: #eee;
}

.about-content {
    position: relative;
    width: 980px;
    height: 1500px;
    margin: 0 auto;
}

.about-left,
.about-right {
    position: absolute;
    width: 485px;
    height: 100%;
    background-color: #fff;
}

.about-head,
.about-phone,
.about-school,
.about-company {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 5px solid #eee;
    border-radius: 50%;
}

.about-phone,
.about-school,
.about-company {
    width: 100px;
    height: 100px;
}

.about-left {
    top: 0;
    left: 0;
}

.about-right {
    top: 0;
    right: 0;
}

.about-left h2 {
    position: absolute;
    right: 85px;
    font-size: 20px;
    font-weight: 100;
}

.about-right p {
    position: absolute;
    left: 30px;
    font-size: 14px;
}


.about-left-h1 {
    top: 130px;
}

.about-head {
    top: -60px;
    width: 160px;
    height: 160px;
    border: 10px solid #eee;
}

.introduce {
    text-indent: 2em;
    top: 130px;
    margin-right: 120px;
}

.about-left-h2 {
    top: 400px;
}

.about-phone {
    top: 270px;
}

.iphone1 {
    top: 400px;
}

.iphone2 {
    top: 420px;
}

.iphone3 {
    top: 440px;
}

.about-left-h3 {
    top: 630px;
}

.about-school {
    top: 500px;
}

.about-school-time1,
.about-school-time2,
.about-school-time3,
.about-company-time1,
.about-company-time2 {
    position: absolute;
    width: 50px;
    height: 20px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #fff;
    border: 5px solid #eee;
    border-radius: 25%;
}

.about-school-time1 {
    top: 628px;
}

.school-name1,
.school-name2,
.school-name3,
.company-explain1,
.company-explain2 {
    margin-left: 30px;
}

.school-name1 {
    top: 632px;
}

.about-school-time2 {
    top: 708px;
}

.school-name2 {
    top: 712px;
}

.about-school-time3 {
    top: 788px;
}

.school-name3 {
    top: 792px;
}

.about-left-h4 {
    top: 980px;
}

.about-company {
    top: 850px;
}

.company-explain1 {
    top: 980px;
}

.about-company-time1 {
    top: 978px;
}

.about-company-time2 {
    top: 1058px;
}

.company-explain2 {
    top: 1060px;
}